@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  color: rgba(255, 255, 255, 0.694) !important;
}

html,
body {
  background-color: #120f30 !important;
}

.page {
  color: #fff !important;
  background-color: #033469 !important;
}

button.cta {
  background-color: #047dfe5b !important;
  border: none !important;
  width: 10rem;
  border-radius: 5px;
}

.cta-watch-list {
  width: 5rem !important;
}

.cta-home {
  position: absolute;
  left: 1rem;
  top: 5.7rem;
}

button.cta-search {
  background-color: #047dfe5b !important;
  border: none !important;
  width: 15rem;
  border-radius: 5px !important;
}

.cta-watch {
  font-size: 1.3rem !important;
  margin-top: 0.8rem;
}

.cta-watch:hover {
  cursor: pointer;
}

button:hover {
  background-color: #047dfe8c !important;
}

/*****************Home Styles******************/
.home_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_container h1 {
  color: #fff;
  font-size: 4rem;
}

.home_container p {
  color: #fff;
}

.home_container .start-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 1rem;
  width: 200px;
  height: 70px;
  background-color: #bc6ff1;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}

.home_container .start-btn:hover {
  box-shadow: 0 0 5px 3px #fff8c1;
}

@media screen and (max-width: 500px) {
  .home_container h1 {
    font-size: 3rem;
  }
  .home_container {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
  }

  .home_container .start-btn {
    width: 100%;
    height: 50px;
  }
  .home_container .start-btn:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 380px) {
  .home_container h1 {
    font-size: 2.4rem;
    padding-bottom: 1rem;
  }
  .home_container {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
  }

  .home_container .start-btn {
    width: 100%;
    height: 50px;
  }
  .home_container .start-btn:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 300px) {
  .home_container h1 {
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }
  .home_container {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
  }

  .home_container p {
    font-size: 0.8rem;
    color: #fff;
  }

  .home_container .start-btn {
    width: 100%;
    height: 30px;
    font-size: 0.8rem;
  }
  .home_container .start-btn:hover {
    box-shadow: none;
  }
}
/**********************************************/

.coins_container {
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  margin-left: 20rem !important;
  position: relative;
}

.coins_container h1 {
  color: #fff;
}

tr,
th {
  color: #fff;
  text-align: center;
}

.coin-symbol span {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.coin-dat div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.coin-dat img {
  width: 50px;
}

.coin-price span {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.coin-market span {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.coin-link {
  display: flex;
  width: 5rem;
  height: 40px;
  background-color: #047dfe7a;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
}

.coin-link:hover {
  text-decoration: none;
}

.page:hover {
  background-color: #047dfea5 !important;
}

.top-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insight-numbers {
  display: flex;
  height: 100%;
}

.insight-numbers span {
  display: block;
  padding: 1rem;
  height: 100%;
  color: #fff;
  font-size: 1.3rem;
}

.watchlist {
  width: 16rem;
  height: 94vh;
  position: fixed;
  left: 1rem;
  background-color: #047dfe1b;
  top: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.watchlist h6 {
  font-size: 1.5rem;
}
.watchlist p.addTW {
  font-size: 12px;
  padding: 0.5rem;
  color: rgba(128, 128, 128, 0.637) !important;
}
.watchlist-top-container {
  width: 100%;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
}

.watchlist-item {
  width: 90%;
  border-radius: 5px;
  background-color: #047dfe1c;
  margin-bottom: 1rem;
  padding: 1px 12px;
  font-size: 12px;
  line-height: 10px;
  position: relative;
}

.watchlist-coin-data {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 1rem;
}

.watchlist-coin-data img {
  width: 30px;
  height: 30px;
}

.pagination-bar {
  position: absolute;
  right: 1rem;
}

.remove-coin {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  padding: 0.5rem;
  color: rgb(236, 111, 111) !important;
}

.more-info {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  font-size: 1rem;
  padding: 0.5rem;
  color: #047dfe !important;
}

.coin-inp {
  color: #047dfe !important;
}

.more-info,
.remove-coin {
  cursor: pointer;
}

.trending-coins {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 9px;
}
.trendy {
  border-radius: 5px;
  /* center this picture */
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  cursor: pointer;
}
.trending-coin {
  border-radius: 5px;
  min-width: 10rem;
  min-height: 15rem;
  border: solid 1px black;
  margin-left: 1rem;
  animation: slideDown 0.5s ease-in-out;
}

.trending-coin:hover {
  animation: slideUp 0.2s ease-in-out;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.trending-coin {
  background: rgba(19, 31, 82, 0.742);
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
